body {
    margin: 0; font-family: sans-serif;
}

.caja {
    background: lightblue; padding: 20px;
}

/* Versión móvil */
@media (max-width: 480px) {
    .caja {background: lightgreen; font-size: 14px;
    }
}

/* Versión tablet */
@media (min-width: 481px) and (max-width: 768px) {
    .caja {
        background: lightcoral; font-size: 18px;
    }
}

/* Versión desktop */
@media (min-width: 769px) {
    .caja {
        background: lightblue; font-size: 22px;
    }
}

@media (min-width:1200px){
    .caja{
        color: blueviolet;
        font-size: 28px;
    }
}